<h1>Videos</h1>

<p><%= link_to 'All Videos', all_videos_path %></p>

<h2>Phase 2: Assign to topics &amp; interview descriptions</h2>

<p>Videos still to be watched (<%= @videos.count %>):</p>
<ul>
  <% @videos.each do |video| %>
    <li><%= link_to video.filename, video %></li>
  <% end %>
</ul>

<%= will_paginate @videos %>

<h2>Stats</h2>

<p>Videos watched: <%= Video.phase2_done.count %></p>
<% users.each do |user, _| %>
  <p><%= user %>: <%= Video.phase2_done.where(username: user).count %></p>
<% end %>

<hr>

<h2>Phase 1</h2>
<p><%= link_to 'Phase 1', phase1_videos_path %></p>

<h2>Tags</h2>
<% tag_cloud(tags, %w(cloud1 cloud2 cloud3 cloud4)) do |tag, css_class| %>
  <%= link_to tag.name, tag_url(tag: tag.name), :class => css_class %>
<% end %>
