<p>
  <%= link_to 'home', root_url %>
  </p>
<h1>Videos: <%= params[:tag] %> </h1>

<%= will_paginate @videos %>

<p>Videos (<%= @videos.count %>):</p>
<ul>
  <% @videos.each do |video| %>
    <li><%= link_to video.filename, video %></li>
  <% end %>
</ul>

<%= will_paginate @videos %>

<h2>Tags</h2>
<% tag_cloud(tags, %w(cloud1 cloud2 cloud3 cloud4)) do |tag, css_class| %>
  <%= link_to tag.name, tag_url(tag: tag.name), :class => css_class %>
<% end %>

