<h1>
  <%= @video.filename %>
</h1>

<%= link_to 'back', root_path %>

<video width="864" height="480" src="<%= "#{ENV['VIDEO_BASE_URL']}#{@video.filename}" %>" controls></video>

<%= form_for @video do |f| %>
  <p><% Video.chapters.each do |label, value| %>
    <label class="inline">
      <%= f.check_box :chapters, {name: "video[chapters][]"}, label, '' %>
      <%= label.humanize %>
    </label>
  <% end %></p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: 'Description', size: 50 %>
  </p>
  <p>
    <%= f.submit 'Save', class: 'submit' %>
  </p>
<% end %>
